.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## IntelliJ ##
.idea

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/docker/mariadb/data/blackhole/db.opt
/docker/mariadb/data/blackhole/punishment_profiles.frm
/docker/mariadb/data/blackhole/punishment_profiles.ibd
/docker/mariadb/data/blackhole/punishment_profiles_punishments.frm
/docker/mariadb/data/blackhole/punishment_profiles_punishments.ibd
/docker/mariadb/data/blackhole/punishment_templates.frm
/docker/mariadb/data/blackhole/punishment_templates.ibd
/docker/mariadb/data/blackhole/punishments.frm
/docker/mariadb/data/blackhole/punishments.ibd
/docker/mariadb/data/mysql/column_stats.frm
/docker/mariadb/data/mysql/column_stats.MAD
/docker/mariadb/data/mysql/column_stats.MAI
/docker/mariadb/data/mysql/columns_priv.frm
/docker/mariadb/data/mysql/columns_priv.MAD
/docker/mariadb/data/mysql/columns_priv.MAI
/docker/mariadb/data/mysql/db.frm
/docker/mariadb/data/mysql/db.MAD
/docker/mariadb/data/mysql/db.MAI
/docker/mariadb/data/mysql/db.opt
/docker/mariadb/data/mysql/event.frm
/docker/mariadb/data/mysql/event.MAD
/docker/mariadb/data/mysql/event.MAI
/docker/mariadb/data/mysql/func.frm
/docker/mariadb/data/mysql/func.MAD
/docker/mariadb/data/mysql/func.MAI
/docker/mariadb/data/mysql/general_log.CSM
/docker/mariadb/data/mysql/general_log.CSV
/docker/mariadb/data/mysql/general_log.frm
/docker/mariadb/data/mysql/global_priv.frm
/docker/mariadb/data/mysql/global_priv.MAD
/docker/mariadb/data/mysql/global_priv.MAI
/docker/mariadb/data/mysql/gtid_slave_pos.frm
/docker/mariadb/data/mysql/gtid_slave_pos.ibd
/docker/mariadb/data/mysql/help_category.frm
/docker/mariadb/data/mysql/help_category.MAD
/docker/mariadb/data/mysql/help_category.MAI
/docker/mariadb/data/mysql/help_keyword.frm
/docker/mariadb/data/mysql/help_keyword.MAD
/docker/mariadb/data/mysql/help_keyword.MAI
/docker/mariadb/data/mysql/help_relation.frm
/docker/mariadb/data/mysql/help_relation.MAD
/docker/mariadb/data/mysql/help_relation.MAI
/docker/mariadb/data/mysql/help_topic.frm
/docker/mariadb/data/mysql/help_topic.MAD
/docker/mariadb/data/mysql/help_topic.MAI
/docker/mariadb/data/mysql/index_stats.frm
/docker/mariadb/data/mysql/index_stats.MAD
/docker/mariadb/data/mysql/index_stats.MAI
/docker/mariadb/data/mysql/innodb_index_stats.frm
/docker/mariadb/data/mysql/innodb_index_stats.ibd
/docker/mariadb/data/mysql/innodb_table_stats.frm
/docker/mariadb/data/mysql/innodb_table_stats.ibd
/docker/mariadb/data/mysql/plugin.frm
/docker/mariadb/data/mysql/plugin.MAD
/docker/mariadb/data/mysql/plugin.MAI
/docker/mariadb/data/mysql/proc.frm
/docker/mariadb/data/mysql/proc.MAD
/docker/mariadb/data/mysql/proc.MAI
/docker/mariadb/data/mysql/procs_priv.frm
/docker/mariadb/data/mysql/procs_priv.MAD
/docker/mariadb/data/mysql/procs_priv.MAI
/docker/mariadb/data/mysql/proxies_priv.frm
/docker/mariadb/data/mysql/proxies_priv.MAD
/docker/mariadb/data/mysql/proxies_priv.MAI
/docker/mariadb/data/mysql/roles_mapping.frm
/docker/mariadb/data/mysql/roles_mapping.MAD
/docker/mariadb/data/mysql/roles_mapping.MAI
/docker/mariadb/data/mysql/servers.frm
/docker/mariadb/data/mysql/servers.MAD
/docker/mariadb/data/mysql/servers.MAI
/docker/mariadb/data/mysql/slow_log.CSM
/docker/mariadb/data/mysql/slow_log.CSV
/docker/mariadb/data/mysql/slow_log.frm
/docker/mariadb/data/mysql/table_stats.frm
/docker/mariadb/data/mysql/table_stats.MAD
/docker/mariadb/data/mysql/table_stats.MAI
/docker/mariadb/data/mysql/tables_priv.frm
/docker/mariadb/data/mysql/tables_priv.MAD
/docker/mariadb/data/mysql/tables_priv.MAI
/docker/mariadb/data/mysql/time_zone.frm
/docker/mariadb/data/mysql/time_zone.MAD
/docker/mariadb/data/mysql/time_zone.MAI
/docker/mariadb/data/mysql/time_zone_leap_second.frm
/docker/mariadb/data/mysql/time_zone_leap_second.MAD
/docker/mariadb/data/mysql/time_zone_leap_second.MAI
/docker/mariadb/data/mysql/time_zone_name.frm
/docker/mariadb/data/mysql/time_zone_name.MAD
/docker/mariadb/data/mysql/time_zone_name.MAI
/docker/mariadb/data/mysql/time_zone_transition.frm
/docker/mariadb/data/mysql/time_zone_transition.MAD
/docker/mariadb/data/mysql/time_zone_transition.MAI
/docker/mariadb/data/mysql/time_zone_transition_type.frm
/docker/mariadb/data/mysql/time_zone_transition_type.MAD
/docker/mariadb/data/mysql/time_zone_transition_type.MAI
/docker/mariadb/data/mysql/transaction_registry.frm
/docker/mariadb/data/mysql/transaction_registry.ibd
/docker/mariadb/data/mysql/user.frm
/docker/mariadb/data/performance_schema/db.opt
/docker/mariadb/data/sys/db.opt
/docker/mariadb/data/sys/host_summary.frm
/docker/mariadb/data/sys/host_summary_by_file_io.frm
/docker/mariadb/data/sys/host_summary_by_file_io_type.frm
/docker/mariadb/data/sys/host_summary_by_stages.frm
/docker/mariadb/data/sys/host_summary_by_statement_latency.frm
/docker/mariadb/data/sys/host_summary_by_statement_type.frm
/docker/mariadb/data/sys/innodb_buffer_stats_by_schema.frm
/docker/mariadb/data/sys/innodb_buffer_stats_by_table.frm
/docker/mariadb/data/sys/innodb_lock_waits.frm
/docker/mariadb/data/sys/io_by_thread_by_latency.frm
/docker/mariadb/data/sys/io_global_by_file_by_bytes.frm
/docker/mariadb/data/sys/io_global_by_file_by_latency.frm
/docker/mariadb/data/sys/io_global_by_wait_by_bytes.frm
/docker/mariadb/data/sys/io_global_by_wait_by_latency.frm
/docker/mariadb/data/sys/latest_file_io.frm
/docker/mariadb/data/sys/memory_by_host_by_current_bytes.frm
/docker/mariadb/data/sys/memory_by_thread_by_current_bytes.frm
/docker/mariadb/data/sys/memory_by_user_by_current_bytes.frm
/docker/mariadb/data/sys/memory_global_by_current_bytes.frm
/docker/mariadb/data/sys/memory_global_total.frm
/docker/mariadb/data/sys/metrics.frm
/docker/mariadb/data/sys/privileges_by_table_by_level.frm
/docker/mariadb/data/sys/processlist.frm
/docker/mariadb/data/sys/ps_check_lost_instrumentation.frm
/docker/mariadb/data/sys/schema_auto_increment_columns.frm
/docker/mariadb/data/sys/schema_index_statistics.frm
/docker/mariadb/data/sys/schema_object_overview.frm
/docker/mariadb/data/sys/schema_redundant_indexes.frm
/docker/mariadb/data/sys/schema_table_lock_waits.frm
/docker/mariadb/data/sys/schema_table_statistics.frm
/docker/mariadb/data/sys/schema_table_statistics_with_buffer.frm
/docker/mariadb/data/sys/schema_tables_with_full_table_scans.frm
/docker/mariadb/data/sys/schema_unused_indexes.frm
/docker/mariadb/data/sys/session.frm
/docker/mariadb/data/sys/session_ssl_status.frm
/docker/mariadb/data/sys/statement_analysis.frm
/docker/mariadb/data/sys/statements_with_errors_or_warnings.frm
/docker/mariadb/data/sys/statements_with_full_table_scans.frm
/docker/mariadb/data/sys/statements_with_runtimes_in_95th_percentile.frm
/docker/mariadb/data/sys/statements_with_sorting.frm
/docker/mariadb/data/sys/statements_with_temp_tables.frm
/docker/mariadb/data/sys/sys_config.frm
/docker/mariadb/data/sys/sys_config.MAD
/docker/mariadb/data/sys/sys_config.MAI
/docker/mariadb/data/sys/user_summary.frm
/docker/mariadb/data/sys/user_summary_by_file_io.frm
/docker/mariadb/data/sys/user_summary_by_file_io_type.frm
/docker/mariadb/data/sys/user_summary_by_stages.frm
/docker/mariadb/data/sys/user_summary_by_statement_latency.frm
/docker/mariadb/data/sys/user_summary_by_statement_type.frm
/docker/mariadb/data/sys/version.frm
/docker/mariadb/data/sys/wait_classes_global_by_avg_latency.frm
/docker/mariadb/data/sys/wait_classes_global_by_latency.frm
/docker/mariadb/data/sys/waits_by_host_by_latency.frm
/docker/mariadb/data/sys/waits_by_user_by_latency.frm
/docker/mariadb/data/sys/waits_global_by_latency.frm
/docker/mariadb/data/sys/x@0024host_summary.frm
/docker/mariadb/data/sys/x@0024host_summary_by_file_io.frm
/docker/mariadb/data/sys/x@0024host_summary_by_file_io_type.frm
/docker/mariadb/data/sys/x@0024host_summary_by_stages.frm
/docker/mariadb/data/sys/x@0024host_summary_by_statement_latency.frm
/docker/mariadb/data/sys/x@0024host_summary_by_statement_type.frm
/docker/mariadb/data/sys/x@0024innodb_buffer_stats_by_schema.frm
/docker/mariadb/data/sys/x@0024innodb_buffer_stats_by_table.frm
/docker/mariadb/data/sys/x@0024innodb_lock_waits.frm
/docker/mariadb/data/sys/x@0024io_by_thread_by_latency.frm
/docker/mariadb/data/sys/x@0024io_global_by_file_by_bytes.frm
/docker/mariadb/data/sys/x@0024io_global_by_file_by_latency.frm
/docker/mariadb/data/sys/x@0024io_global_by_wait_by_bytes.frm
/docker/mariadb/data/sys/x@0024io_global_by_wait_by_latency.frm
/docker/mariadb/data/sys/x@0024latest_file_io.frm
/docker/mariadb/data/sys/x@0024memory_by_host_by_current_bytes.frm
/docker/mariadb/data/sys/x@0024memory_by_thread_by_current_bytes.frm
/docker/mariadb/data/sys/x@0024memory_by_user_by_current_bytes.frm
/docker/mariadb/data/sys/x@0024memory_global_by_current_bytes.frm
/docker/mariadb/data/sys/x@0024memory_global_total.frm
/docker/mariadb/data/sys/x@0024processlist.frm
/docker/mariadb/data/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
/docker/mariadb/data/sys/x@0024ps_digest_avg_latency_distribution.frm
/docker/mariadb/data/sys/x@0024ps_schema_table_statistics_io.frm
/docker/mariadb/data/sys/x@0024schema_flattened_keys.frm
/docker/mariadb/data/sys/x@0024schema_index_statistics.frm
/docker/mariadb/data/sys/x@0024schema_table_lock_waits.frm
/docker/mariadb/data/sys/x@0024schema_table_statistics.frm
/docker/mariadb/data/sys/x@0024schema_table_statistics_with_buffer.frm
/docker/mariadb/data/sys/x@0024schema_tables_with_full_table_scans.frm
/docker/mariadb/data/sys/x@0024session.frm
/docker/mariadb/data/sys/x@0024statement_analysis.frm
/docker/mariadb/data/sys/x@0024statements_with_errors_or_warnings.frm
/docker/mariadb/data/sys/x@0024statements_with_full_table_scans.frm
/docker/mariadb/data/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
/docker/mariadb/data/sys/x@0024statements_with_sorting.frm
/docker/mariadb/data/sys/x@0024statements_with_temp_tables.frm
/docker/mariadb/data/sys/x@0024user_summary.frm
/docker/mariadb/data/sys/x@0024user_summary_by_file_io.frm
/docker/mariadb/data/sys/x@0024user_summary_by_file_io_type.frm
/docker/mariadb/data/sys/x@0024user_summary_by_stages.frm
/docker/mariadb/data/sys/x@0024user_summary_by_statement_latency.frm
/docker/mariadb/data/sys/x@0024user_summary_by_statement_type.frm
/docker/mariadb/data/sys/x@0024wait_classes_global_by_avg_latency.frm
/docker/mariadb/data/sys/x@0024wait_classes_global_by_latency.frm
/docker/mariadb/data/sys/x@0024waits_by_host_by_latency.frm
/docker/mariadb/data/sys/x@0024waits_by_user_by_latency.frm
/docker/mariadb/data/sys/x@0024waits_global_by_latency.frm
/docker/mariadb/data/.my-healthcheck.cnf
/docker/mariadb/data/aria_log.00000001
/docker/mariadb/data/aria_log_control
/docker/mariadb/data/ddl_recovery.log
/docker/mariadb/data/ib_buffer_pool
/docker/mariadb/data/ib_logfile0
/docker/mariadb/data/ibdata1
/docker/mariadb/data/ibtmp1
/docker/mariadb/data/mariadb_upgrade_info
/docker/mariadb/data/multi-master.info
/docker/mariadb/data/tc.log
/docker/mariadb/data/undo001
/docker/mariadb/data/undo002
/docker/mariadb/data/undo003
/velocity/run/lang/messages.properties
/velocity/run/lang/messages_ar_SA.properties
/velocity/run/lang/messages_bg_BG.properties
/velocity/run/lang/messages_cs_CZ.properties
/velocity/run/lang/messages_da_DK.properties
/velocity/run/lang/messages_de_DE.properties
/velocity/run/lang/messages_es_ES.properties
/velocity/run/lang/messages_et_EE.properties
/velocity/run/lang/messages_fi_FI.properties
/velocity/run/lang/messages_fr_FR.properties
/velocity/run/lang/messages_he_IL.properties
/velocity/run/lang/messages_hu_HU.properties
/velocity/run/lang/messages_it_IT.properties
/velocity/run/lang/messages_ja_JP.properties
/velocity/run/lang/messages_ko_KR.properties
/velocity/run/lang/messages_nb_NO.properties
/velocity/run/lang/messages_nl_NL.properties
/velocity/run/lang/messages_nn_NO.properties
/velocity/run/lang/messages_pl_PL.properties
/velocity/run/lang/messages_pt_BR.properties
/velocity/run/lang/messages_ro_RO.properties
/velocity/run/lang/messages_ru_RU.properties
/velocity/run/lang/messages_sk_SK.properties
/velocity/run/lang/messages_sq_AL.properties
/velocity/run/lang/messages_sr_CS.properties
/velocity/run/lang/messages_sr_Latn.properties
/velocity/run/lang/messages_sv_SE.properties
/velocity/run/lang/messages_tl_PH.properties
/velocity/run/lang/messages_tr_TR.properties
/velocity/run/lang/messages_uk_UA.properties
/velocity/run/lang/messages_vi_VN.properties
/velocity/run/lang/messages_zh_CN.properties
/velocity/run/lang/messages_zh_HK.properties
/velocity/run/lang/messages_zh_TW.properties
/velocity/run/logs/2024-12-28-1.log.gz
/velocity/run/logs/2024-12-28-2.log.gz
/velocity/run/logs/2024-12-28-3.log.gz
/velocity/run/logs/2024-12-28-4.log.gz
/velocity/run/logs/2024-12-28-5.log.gz
/velocity/run/logs/2024-12-28-6.log.gz
/velocity/run/logs/2024-12-28-7.log.gz
/velocity/run/logs/2024-12-29-1.log.gz
/velocity/run/logs/2024-12-29-2.log.gz
/velocity/run/logs/2024-12-29-3.log.gz
/velocity/run/logs/2024-12-29-4.log.gz
/velocity/run/logs/2024-12-29-5.log.gz
/velocity/run/logs/2024-12-29-6.log.gz
/velocity/run/logs/2024-12-29-7.log.gz
/velocity/run/logs/latest.log
/velocity/run/plugins/bStats/config.txt
/velocity/run/plugins/velocity-all_RunVelocity_plugin.jar
/velocity/run/forwarding.secret
/velocity/run/velocity.toml
